/*****************************************************
************************顶部*********************/
header .header-top {
    background-color: #2A2A2A;
    height: 32px;
    min-width: 1152px
}

header .top-head {
    height: 32px
}

header .top-head .top-head-nav {
    float: left;
}

header .top-head .top-head-nav.top-head-nav ul::after {
    content: '';
    display: table;
}

header .top-head .top-head-nav>ul>li {
    float: left;
    line-height: 32px;
    margin-right: 18px;
    position: relative;
}

header .top-head .top-head-nav>ul>li>a {
    color: #fff;
    font-size: 12px;
    display: block;
    line-height: 32px;
}

.side_aw {
    padding-right: 12px;
}

header .top-head .top-head-nav>ul>li>a em {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    right: -2px;
    top: 10px;
    transform-origin: center 60%;
    transition: transform 0.3s linear 0s;
}

header .top-head .top-head-nav>ul>li>a b {
    background-color: #fff;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 3px;
    left: 3px;
    transform: rotate(45deg)
}
header .top-head .top-head-nav>ul>li>a i {
    background-color: #2A2A2A;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 1px;
    left: 3px;
    transform: rotate(45deg)
}

header .top-head .top-head-nav>ul>li.side_aw:hover em {
    transform: rotate(180deg);
}
header .top-head .top-head-nav>ul>li.side_aw:hover .droplist {
    display: block;
}

header .top-head .top-head-nav>ul>li:hover>a {
    color: #20BD9A
}

header .top-head .top-head-nav>ul>li:hover b {
    background-color: #20BD9A
}

header .top-head .logins {
    float: right;
}

header .top-head .logins>ul {
    overflow: hidden;   
}

header .top-head .logins>ul>li {
    float: left;
    margin-right: 16px;
    line-height: 32px;
    text-align: center;
}

header .top-head .logins>ul>li>a {
    color: #fff;
    font-size: 12px;
}

header .top-head .logins>ul>li>span {
    color: #D8D8D8;
    font-size: 20px;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*****************************************************
************************导航条NAV*********************/
nav {
    height: 40px;
    background-color: #20BD9A;
    min-width: 1152px
}

nav>ul::after {
    /* overflow: hidden; */
    content: '';
    clear: both;
    display: table;
}

nav>ul>li {
    line-height: 40px;
    margin-right: 18px;
    float: left;
    position: relative;
}

nav>ul>li>a {
    color: #fff;
    font-size: 16px;
    display: block;
    line-height: 40px;
}

.nav-side-arrow {
    padding-right: 18px;
}

nav>ul>li>a>div {
    border: 4px solid transparent;
    border-top-color: #fff;
    position: absolute;
    right: 3px;
    top: 19px
}
/*****************************************************
************************下拉菜单*********************/

.droplist {
    padding: 3px 8px;
    background-color: #fff;
    position: absolute;
    top: 29px; 
    left: 0;
    z-index: 999;
    display: none;
    box-shadow: 0 0 10px rgb(0, 0, 0, .3);
}

.droplist ul li {
    height: 19px;
}

.droplist ul li a {
    color: #1C1F21;
    display: block;
    line-height: 19px;
    font-size: 14px;
}

/*****************************************************
************************搜索*********************/

header .search {
    height: 36px;
    padding: 21px 0;
    overflow: hidden;
}

header .search h1 {
    display: block;
    font-size: 24px;
    color: #20BD9A;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    margin-right: 20px;
}

header .search input[type="text"] {
    margin-top: 3px;
    width: 361px;
    height: 28px;
    border: 1px solid #20BD9A;
    border-radius: 4px 0 0 4px;
    float: left;
    outline: none;
    padding-left: 10px;
    font-size: 10px;
}

header .search .iconfont {
    width: 32px;
    height: 30px;
    background-color: #20BD9A;
    float: left;
    outline: none;
    border: none;
    border-radius: 0 4px 4px 0;
    margin-top: 3px;
    cursor: pointer;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

/*****************************************************
************************Banner*********************/

header .banner {
    position: relative;
}

header .banner-container {
    width: 100%;
    min-width: 1366px;
    overflow: hidden;
}

header .banner .banner-container>ul {
    width: 600%;
    transition: transform 0.5s linear 0s;
}
header .banner .banner-container>ul>li {
    width: 16.666%;
    float: left;
}

header .banner .banner-container>ul>li img {
    width: 100%;
    min-width: 1366px;
    vertical-align: middle;
}

header .banner .banner-main {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -576px;
    
}

header .banner .banner-main div[class*='page'] {
    width: 28px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    background-color: rgb(0, 0, 0, .6);
    border-radius: 5px;
}

header .banner .banner-main div[class*='_left'] {
    left: -40px
}

header .banner .banner-main div[class*='_right'] {
    right: -40px
}

header .banner .banner-main div[class*='page'] a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

header .banner .banner-main ul.banner_list {
    height: 100%;
    width: 296px;
    float: left;
}

header .banner .banner-main ul.banner_list>li dl::before {
    content: '';
    display: block;
    background-image: url(../assets/xuebi.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -30px;
}

header .banner .banner-main ul.banner_list>li dl.iconplane::before {
    background-position: 0px 0px;
}

header .banner .banner-main ul.banner_list>li dl.iconbag::before {
    background-position: 0px -31px;
}

header .banner .banner-main ul.banner_list>li dl.iconpic::before {
    background-position: 0px -63px;
}

header .banner .banner-main ul.banner_list>li dl.iconcup::before {
    background-position: 0px -91px;
}

header .banner .banner-main ul.banner_list>li dl.iconding::before {
    background-position: 0px -123px;
}

header .banner .banner-main ul.banner_list>li dl.iconhouse::before {
    background-position: 0px -155px;
}

header .banner .banner-main ul.banner_list>li {
    height: 16.66%;
    width: 296px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255, .1);
    background-color: rgb(0, 0, 0, .5);
    position: relative;
    cursor: pointer;
}
header .banner .banner-main ul.banner_list>li:hover {
    background-color: rgb(28, 31, 33, .7);
}

header .banner .banner-main ul.banner_list>li dl {
    color: #fff;
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 42px;
}

header .banner .banner-main ul.banner_list>li dl dt {
    font-size: 18px;
    line-height: 26px;
}

header .banner .banner-main ul.banner_list>li dl dd {
    float: left;
    margin-right: 6px;
    font-size: 14px;
    line-height: 22px;
}

header .banner .banner-main .menu_list {
    width: 356px;
    height: 100%;
    position: absolute;
    background-color: rgb(28, 31, 33, .7);
    top: 0;
    left: 296px;
    float: left;
    /* display: none; */
}

header .banner .banner-main .menu_list .menu ul {
    padding: 16px;
}

header .banner .banner-main .menu_list .menu ul>li>dl {
    overflow: hidden;
    padding-bottom: 12px;
}

header .banner .banner-main .menu_list .menu ul>li>dl dt, a {
    color: #fff
}
header .banner .banner-main .menu_list .menu ul>li>dl>dt {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

header .banner .banner-main .menu_list .menu ul>li>dl>dd {
    float: left;
    margin-right: 6px;
}

header .banner .banner-main .menu_list .menu ul>li>dl>dd>a {
    font-size: 14px;
    line-height: 22px;
}


/* header .banner .banner-main ul.banner_list>li>div.aside-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 8px;
}

header .banner .banner-main ul.banner_list>li>div.aside-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
}

header .banner .banner-main ul.banner_list>li>div.aside-arrow::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -4px;
} */


/*********************消除浮动*******************/
.fixclear::after {
    content: '';
    display: table;
    clear: both
}

header .hot-news {
    background-color: #fff;
    height: 174px;
}
header .hot-news>ul {
    padding: 32px 0;
}

header .hot-news>ul li {
    float: left;
    margin-right: 32px;
}

header .hot-news>ul li:last-child {
    margin-right: 0px;
}

header .hot-news>ul>li {
    width: 264px;
    height: 110px;
}


/*****************************************************
************************内容区*********************/
section .content {  
    padding: 40px 0 0 0;
}

.content_bgf7 {
    background-color: #F7F7F7;
}

.content_bgff {
    background-color: #fff;
}

/****************复用类******************/

.content_title {
    padding-bottom: 32px;
}

.content_title>h2, span {
    color: #000;
}

.content_title>h2 {
    float: left;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    margin-right: 12px;
}

.content_title>span {
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding-top: 27px;
}

.content_title .content_title_nav {
    float: right;
    padding-top: 20px;
}

.content_title .content_title_nav>ul>li {
    float: left;
    height: 22px;
    margin-right: 16px;
}

.content_title .content_title_nav>ul>li>a.current {
    color: #20BD9A;
    padding-bottom: 2px;
    border-bottom: 4px solid #20BD9A;
}


.content_title .content_title_nav>ul>li:last-child {
    margin-right: 0;
}

.content_title .content_title_nav>ul>li>a {
    font-size: 14px;
    color: rgba(0,0,0,0.85);
    line-height: 22px;
}

.content_box {
    width: 264px;
    height: 270px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    background-color: #fff;
    margin-right: 32px;
    margin-bottom: 32px;
}

.mrfix {
    margin-right: 0 !important;
}

.box_double {
    width: 560px;
}

.content_box>a {
    position: relative;
    display: block;
}

.content_box.box_double>a>img {
    width: 560px;
    height: 270px;
    vertical-align: middle;
}

.content_box.box_double>a>p {
    box-sizing: border-box;
    width: 560px;
    height: 103px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(28,31,33,.55);
    padding: 30px 25px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.content_box:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
 }

.four_n .content_box:nth-child(4n) {
    margin-right: 0;
}

.content_box>a>img {
    width: 264px;
    height: 184px;
}

.content_box>a>p {
    width: 236px;
    height: 74px;
    font-size: 14px;
    line-height: 22px;
    padding: 14px;
    color: #1C1F21
}

.content_box>a>span {
    display: block;
    width: 74px;
    height: 40px;
    position: absolute;
    background-color: rgba(28,31,33,.6);
    color: #fff;
    font-size: 14px;
    top: 144px;
    line-height: 40px;
    text-align: center;
}

.content_box.gradient_green {
    background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
}

.content_box.gradient_purple {
    background-image: linear-gradient(180deg, #BD5EE8 0%, #832ABB 98%);
}

.content_box.gradient_blue {
    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}
.content_box.gradient_red {
    background-image: linear-gradient(180deg, #FF6374 1%, #FF7368 98%);
}

.content_title_single {
    padding-bottom: 32px;
}

.content_title_single h2 {
    font-size: 36px;
    line-height: 54px;
    display: block;
    width: 216px;
    height: 54px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.--fixh290 {
    height: 290px;
}

.local {
    padding: 16px 14px;
}

.local>h2 {
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-weight: bold;
}
.local>p {
    line-height: 18px;
}

.local>p>span:nth-child(1) {
    font-size: 16px;
    line-height: 16px;
    color: orange;
}

.local>p>span:nth-child(2) {
    color: orange;
    font-size: 12px;
    line-height: 18px;
}

.local>p>span:nth-child(3) {
    font-size: 12px;
    color: #000000;
    line-height: 18px;
}

.content .grid {
    width: 364px;
    height: 420px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.content_box.w33 {
    width: 364px; 
}

.content_box.w33 img {
    width: 364px;
    height: 270px;
}

.h33 {
    height: 120px;
}

.w33.h33 img {
    width: 120px;
    height: 120px;
    float: left;
}

.w33.h33 p {
    padding: 26px 18px;
    font-size: 14px;
    line-height: 22px;
    float: left;
    box-sizing: border-box;
    width: 244px;
}

footer {
    height: 445px;
}

footer .part1 {
    background-color: #F7F7F7;
    height: 220px;
}

footer .part2 {
    background-color: #1C1F21;
    height: 225px;
}

footer .part1>div {
    padding-top: 32px
}

footer .part1>div>ul {
    padding-bottom: 40px;
}

footer .part1>div>ul>li{
    box-sizing: border-box;
    border-right: 1px solid #1C1F21;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    padding: 0 26px;
    float: left;
}

footer .part1>div>ul>li>a {
    color: #1C1F21;
    font-weight: bold;
}

footer .part1>div>ul>li:first-child {
    padding-left: 0
}

footer .part1>div>ul>li:last-child {
    border-right: 0px;
    padding-right: 0px;
}

footer .part1>div>ol>li {
    width: 364px;
    float: left;
    margin-right: 30px;
    height: 76px;
}

footer .part1>div>ol>li>div.icon{
    width: 60px;
    height: 60px;
    background-image: url('../assets/xuebi.png');
    float: left;
    margin-right: 15px;
}

footer .part1>div>ol>li>div.icon.first {
    background-position: -37px -112px;
    
}

footer .part1>div>ol>li>div.icon.second {
    background-position: -103px -112px;
}

footer .part1>div>ol>li>dl {
    float: left;
    width: 289px;
}

footer .part1>div>ol>li>dl>dd {
    font-size: 14px;
    color: #1C1F21;
    line-height: 22px;
}
footer .part1>div>ol>li>dl>dt {
    font-size: 16px;
    color: #1C1F21;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

footer .part2>div:first-child {
    padding-top: 49px;
    padding-bottom: 31px;
}

footer .part2>div:first-child>h1 {
    font-size: 46px;
    color: #FFFFFF;
    line-height: 46px;
    float: left;
    margin-right: 21px;
}

footer .part2>div:first-child>p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    float: left;
    width: 532px;
}

footer .part2>div:last-child>ul>li {
    padding: 0 14px;
    border-right: 1px solid #fff;
    float: left;
}

footer .part2>div:last-child>ul>li:first-child {
    padding-left: 0;
}

footer .part2>div:last-child>ul>li:last-child {
    padding-right: 0;
    border-right: 0;
}

footer .part2>div:last-child>ul>li>a {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
}

footer .part2>div:last-child>p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    margin-top: 8px;
}
