<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="./index.js" type="module"></script>
<link rel="stylesheet" href="../../../../../css/reset.css">
<link rel="stylesheet" href="./slider-test.css">
<body>
    <div class="carousel">
        <div class="pageCore slider">
            <ul class="clearfix slider-content">
                <li class="slider-item"><img src="../images/banner1.jpg" alt=""></li>
                <li class="slider-item"><img src="../images/banner2.jpg" alt=""></li>
                <li class="slider-item"><img src="../images/banner3.jpg" alt=""></li>
                <li class="slider-item"><img src="../images/banner4.jpg" alt=""></li>
                <li class="slider-item"><img src="../images/banner5.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</body>
</html>