/* 页芯 */
.pageCore {
    width: 1152px;
    margin: 0 auto;
}

[db] {
    display: block;
}

[dib] {
    display: inline-block;
}

[psr] {
    position: relative;
}

[psa] {
    position: absolute;
}

html {
    font-family: 'PingFangSC-Regular';
    font-size: 14px;
    color: #fff
}

a {
    text-decoration: none;
    font-family: 'PingFangSC-Regular';
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    display: block;
}

/* 清除浮动 */
[clearfix]::after {
    content: '';
    display: table;
    clear: both;
}